export(
#	CCC2wb2,
#	F0,
#	F0inv,
#	bbb,
#	rank.data,
#	mrank.observation,
#	mrr,
#	splitargs,
	Abrem,
	abrem.fit,
	abrem.conf,
	params.to.ob,
	options.abrem,
#	options.abremplot,
	plot.abrem,
	print.abrem)
S3method(plot, abrem) 
S3method(print, abrem) 
